node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
jsonReports/
wms_tests/data/
/output.txt
/package-lock.json
/package.json
/test-results/
/package-lock.json/
/allure-results/
/package.json/
output.txt/
.github/
.gitignore